body {
    margin: 0;
    font-family: "Georgia", serif;
    background-color: #E9DBC7;
}

header {
    width: 100%;
    background-color: #E9DBC7;
}

/* ---------- TOPO ---------- */
.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
}
h1 {
    margin: 0;
    font-size: 30px;
    color: #DCA7A2;
    text-align: center;      /* garante centralização */
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 26px;
    font-weight: bold;
    color: #b48474;
}

.icons i {
    font-size: 20px;
    margin-left: 15px;
    color: #b48474;
    cursor: pointer;
}

/* ---------- MENU ---------- */
nav {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 10px 0;
    background: #f4cbbf;
    border: 1px solid #BE735B;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #BE735B;
}

nav a.ativo {
    font-weight: bold;
    border-bottom: 2px solid #875d55;
}

/* Centraliza todo o conteúdo no meio do site */
.container {
  max-width: 900px;       /* conteúdo mais estreito para centralizar mais */
  margin: 40px auto;
  padding: 0 20px;
}

/* Linha: imagem + texto ao lado */
.linha-cima {
  display: flex;
  align-items: flex-start;
  gap: 20px;              /* aproxima imagem e texto */
}

/* Imagem menor */
.sobre-img img {
  width: 200px;           /* tamanho reduzido */
  border-radius: 4px;
}

/* Texto ao lado da imagem */
.texto-lateral {
  max-width: 500px;
  font-size: 17px;
  line-height: 1.5;       /* texto mais unido */
  color: #a8745b;
}

/* Texto abaixo da imagem */
.texto-abaixo {
  margin-top: 15px;       /* menos espaço entre blocos */
  font-size: 17px;
  line-height: 1.5;
  color: #a8745b;
  max-width: 100%;
}

.cadastro-container {
    width: 80%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background: #E9DBC7;
    border: 1px solid #BE735B;
    border-radius: 10px;
    text-align: center;
}

input{
    width: 900px;
    height: 20px;
    border: 1px solid #BE735B;
   padding: 10px;
}
label {
  display: block;
  width: 90%;          /* igual ao input */
  margin: 0 auto 20px auto;
  text-align: left;
  margin-bottom: 5px;
  color: #a8745b;
}

form input {
  display: block;
  width: 60%;         /* pode ajustar: 60%, 70%, 90%... */
  margin: 0 auto 20px auto;  /* centraliza + espaço abaixo */
  padding: 10px;
}

button{
    border-radius: 6px;
    width: 250px;
    height: 40px;
    background-color: #DCA7A2;
    border: 1px solid #BE735B;
    color: #E9DBC7;
    font-size: 20px;
}



h2{
    color: #a8745b;
    font-size: 25px;
}

/* --- RODAPÉ --- */
.rodape {
    background: #f4d7cc;
    padding: 40px 50px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #BE735B;
    border: 1px solid #BE735B;
}

.coluna h3 {
    margin-bottom: 8px;
    color: #BE735B;
}

.logo-centro {
    text-align: center;
}







